<div class="form-group">
    <label class="control-label" for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" placeholder="Matrix Monday Fever" required>
</div>
<div class="form-group">
    <label class="control-label" for="federalState">Bundesland</label>
    <select name="federalState">
        {{#each federalState}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="county">Kreis</label>
    <select name="county">
        {{#each county}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <p class="text-danger" style="font-size:0.75rem;">
        Warning: all counties/kreis from all states/bundesland are listed here
    </p>
</div>
<div class="form-group">
    <label class="control-label" for="fileStorageType">File-Storage-Typ</label>
    <select name="fileStorageType" type="text">
        {{#each storageType}}
            <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="storageProvider">Storage Provider</label>
    <select name="storageProvider" type="text">
        {{#each storageProvider}}
            <option value="{{this.value}}">{{this.label}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="officialSchoolNumber">Official School Number</label>
        <input type="text" name="officialSchoolNumber" id="officialSchoolNumber" class="form-control" >
    <p class="text-danger" style="font-size:0.75rem;">
        Allowed characters: A-Z, a-z, digits and hyphens as separators, e.g. 12345 or AB-12345-1
    </p>
</div>

<div class="form-group">
    <label class="control-label" for="externalId">External Id</label>
    <input id="externalId" name="ldapSchoolIdentifier" class="form-control" readonly>
</div>

<div class="form-group">
    <label class="control-label" for="timezone">Time zone</label>
    <select name="timezone" type="text">
        {{#each timeZones}}
            <option value="{{this.name}}">{{this.region}} / {{this.location}} {{this.offset}}</option>
        {{/each}}
    </select>
</div>

<div class="form-group">
    <label>
        <input
            type="checkbox"
            name="hasFeature_messenger"
            value="true"
        />
        Matrix Messenger Chatfunktion aktivieren
    </label>
</div>

<div class="form-group">
    <label>
        <input
            type="checkbox"
            name="hasFeature_messengerSchoolRoom"
            value="true"
        />
        Matrix Messenger Chatraum für Ankündigungen an die gesamte Schule anlegen
    </label>
</div>

<div class="form-group">
    <label>
        <input
            type="checkbox"
            name="hasFeature_rocketChat"
            value="true"
        />
        RocketChat Chatfunktion für Team aktivieren
    </label>
</div>

<div class="form-group">
    <label>
        <input
            type="checkbox"
            name="hasFeature_videoconference"
            value="true"
        />
        Videokonferenzen für Kurse und Teams aktivieren
    </label>
</div>

<div class="form-group">
    <label>
        <input
            type="checkbox"
            name="hasFeature_studentVisibility"
            value="true"
        />
        Student Visibility
    </label>
</div>

<div class="form-group">
    <label>
        <input
            type="checkbox"
            name="hasFeature_oauthProvisioningEnabled"
            value="true"
        />
        Oauth2 basierte Provisionierung erlauben
    </label>
</div>

{{#if SHOW_OUTDATED_USERS}}
    <div class="form-group">
        <label>
            <input
                type="checkbox"
                name="hasFeature_showOutdatedUsers"
                value="true"
            />
         Veraltete Nutzer-Accounts anzeigen
        </label>
    </div>
{{/if}}

{{#if ENABLE_LDAP_SYNC_DURING_MIGRATION}}
    <div class="form-group">
        <label>
            <input
                class="enableLdapSyncDuringMigration"
                type="checkbox"
                name="hasFeature_enableLdapSyncDuringMigration"
                value="true"
            />
            Synchronisation für Klassen und Accounts während Login-System-Migration erlauben
        </label>
    </div>
{{/if}}

