<div class="form-group">
    <label class="control-label" for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" placeholder="Matrix Monday Fever" required>
</div>
<div class="form-group">
    <label class="control-label" for="federalState">Bundesland</label>
    <select name="federalState">
        {{#each federalState}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="fileStorageType">File-Storage-Typ</label>
    <select name="fileStorageType" type="text">
        {{#each storageType}}
            <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="storageProvider">Storage Provider</label>
    <select name="storageProvider" type="text">
        {{#each storageProvider}}
            <option value="{{this.value}}">{{this.label}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="timezone">Time zone</label>
    <select name="timezone" type="text">
        {{#each timeZones}}
            <option value="{{this.name}}">{{this.region}} / {{this.location}} {{this.offset}}</option>
        {{/each}}
    </select>
</div>

<div class="form-group">
    <label>
        <input
            type="checkbox"
            name="hasFeature_messenger"
            value="true"
        />
        Matrix Messenger Chatfunktion aktivieren
    </label>
</div>

<div class="form-group">
    <label>
        <input
            type="checkbox"
            name="hasFeature_messengerSchoolRoom"
            value="true"
        />
        Matrix Messenger Chatraum f端r Ank端ndigungen an die gesamte Schule anlegen
    </label>
</div>

<div class="form-group">
    <label>
        <input
            type="checkbox"
            name="hasFeature_rocketChat"
            value="true"
        />
        RocketChat Chatfunktion f端r Team aktivieren
    </label>
</div>

<div class="form-group">
    <label>
        <input
            type="checkbox"
            name="hasFeature_videoconference"
            value="true"
        />
        Videokonferenzen f端r Kurse und Teams aktivieren
    </label>
</div>

<div class="form-group">
    <label>
        <input
            type="checkbox"
            name="hasFeature_studentVisibility"
            value="true"
        />
        Student Visibility
    </label>
</div>
