{{#extend "lib/loggedin"}}

    {{#content "styles" mode="append"}}
        <link rel="stylesheet" href="/styles/statistics/statistics.css">
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="/vendor/m.e.i.n.e.l/webcomponents-lite.min.js"></script>
        <link rel="import" href="/vendor/m.e.i.n.e.l/m.e.i.n.e.l.min.html">
    {{/content}}

    {{#content "page"}}

        <h5>nach Datum</h5>
        <barchart-basic data="{{stats}}" primarycolor="#b10438" title="{{name}}"></barchart-basic>

        <h5>nach Datum (aufsummiert)</h5>
        <linechart-basic data="{{statsIncremented}}" title="{{name}}"></linechart-basic>

        <div class="row" style="width: 100%; position: relative">
            <div style="position: absolute">
                <a href="/statistics/{{prev}}">
                    <button class="button type2">
                        <span class="fa fa-arrow-left"></span>
                    </button>
                </a>
            </div>
            <div style="position: absolute; right: 10px">
                <a href="/statistics/{{next}}">
                    <button class="button type2">
                        <span class="fa fa-arrow-right"></span>
                    </button>
                </a>
            </div>
        </div>

        {{/content}}
{{/extend}}
