Hinweis: Änderungen betreffen keine bereits instanzierten Tools in Kursen, lediglich die Vorlage für neue Instanzen.
<div class="form-group">
    <label class="control-label" for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" placeholder="Learn App" required>
</div>
<div class="form-group">
    <label class="control-label" for="url">URL</label>
    <input type="text" name="url" id="url" class="form-control" placeholder="https://app.com" required>
</div>
<div class="form-group">
    <label class="control-label" for="key">Key / OAuth2-Client-Id</label>
    <input type="text" name="key" id="key" required="required" class="form-control" placeholder="">
</div>
<div class="form-group">
    <label class="control-label" for="secret">Secret</label>
    <input type="text" name="secret" id="secret" class="form-control" placeholder="" pattern=".{0}|.{6,64}"
    title="Leer oder mindestens 6 Zeichen">
</div>
<div class="form-group">
    <label class="control-label" for="logo_url">Logo-URL</label>
    <input type="text" name="logo_url" id="logo_url" class="form-control" placeholder="">
</div>
<div class="form-group">
    <label class="control-label" for="privacy_permission">Privatsphäre</label>
    <select name="privacy_permission">
        {{#each privacies}}
            <option value="{{this.value}}">{{this.label}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="isLocal">Ist ein OAuth2-Tool?</label>
    <input type="checkbox" name="isLocal" id="isLocal" class="form-control">
</div>
<h3>Nur für LTI:</h3>
<div class="form-group">
    <label class="control-label" for="lti_version">Version</label>
    <select name="lti_version">
        {{#each versions}}
            <option value="{{this.value}}">{{this.label}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="lti_message_type">Message Type</label>
    <select name="lti_message_type">
        {{#each messageTypes}}
            <option value="{{this.value}}">{{this.label}}</option>
        {{/each}}
    </select>
</div>
<h3>Nur für OAuth2</h3>
<div class="form-group">
    <label class="control-label" for="redirect-url">Redirect-URLs (Semikolon-separiert)</label>
    <input type="text" name="redirect_url" id="redirect-url" class="form-control" placeholder="">
</div>
<div class="form-group">
    <label class="control-label" for="lti_message_type">Token Endpoint Auth Method</label>
    <select name="token_endpoint_auth_method">
        {{#each authMethods}}
            <option value="{{this.value}}">{{this.label}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="useIframePseudonym">Iframe-Subjects (zukunftsunsicher)</label>
    <input type="checkbox" name="useIframePseudonym" id="useIframePseudonym" class="form-control">
</div>
