Hinweis: Änderungen betreffen keine bereits instanzierten Tools in Kursen, lediglich die Vorlage für neue Instanzen.
<div class="form-group">
    <label class="control-label" for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" placeholder="Learn App" required>
</div>
<div class="form-group">
    <label class="control-label" for="url">URL</label>
    <input type="text" name="url" id="url" class="form-control" placeholder="https://app.com" required>
</div>
<div class="form-group">
    <label class="control-label" for="key">Key</label>
    <textarea name="key" id="key" class="form-control"></textarea>
</div>
<div class="form-group">
    <label class="control-label" for="secret">Secret</label>
    <input type="text" name="secret" id="secret" class="form-control" placeholder="" pattern=".{6,64}"
    title="Mindestens 6 Zeichen" required>
</div>
<div class="form-group">
    <label class="control-label" for="logo_url">Logo-URL</label>
    <input type="text" name="logo_url" id="logo_url" class="form-control" placeholder="">
</div>
<div class="form-group">
    <label class="control-label">Direkt in neuem Tab öffnen?</label>
    <label  style="width: 100%">
        <input type="checkbox" name="openNewTab" value="1" class="form-control" style="width:10%;display:inline-block;">
        Ja, direkt in neuem Tab öffnen
    </label>
</div>
<div class="form-group">
    <label class="control-label" for="key">OAuth- bzw. LTI-ClientId</label>
    <input type="text" name="oAuthClientId" id="oAuthClientId" class="form-control" placeholder="">
</div>
<div class="form-group">
    <label class="control-label">Handelt es sich um ein OAuth2-Tool?</label>
    <label  style="width: 100%">
        <input type="checkbox" name="isLocal" value="1" class="form-control" style="width:10%;display:inline-block;">
        Ja, OAuth2
    </label>
</div>

<h3>Nur für LTI:</h3>
<div class="form-group">
    <label class="control-label" for="lti_version">Version</label>
    <select name="lti_version">
        {{#each versions}}
            <option value="{{this.value}}">{{this.label}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="lti_message_type">Message Type</label>
    <select name="lti_message_type">
        {{#each messageTypes}}
            <option value="{{this.value}}">{{this.label}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="privacy_permission">Privatsphäre</label>
    <select name="privacy_permission">
        {{#each privacies}}
            <option value="{{this.value}}">{{this.label}}</option>
        {{/each}}
    </select>
</div>

<h3>Nur für OAuth2</h3>
<div class="form-group">
    <label class="control-label" for="redirect-url">Redirect-URLs (Semikolon-separiert)</label>
    <input type="text" name="redirect_url" id="redirect-url" class="form-control" placeholder="">
</div>
<div class="form-group">
    <label class="control-label" for="lti_message_type">Token Endpoint Auth Method</label>
    <select name="token_endpoint_auth_method">
        {{#each authMethods}}
            <option value="{{this.value}}">{{this.label}}</option>
        {{/each}}
    </select>
</div>
<div class="form-group">
    <label class="control-label" for="scope">Scope</label>
    <input type="text" name="scope" id="scope" class="form-control" placeholder="openid offline">
</div>

<div class="form-group">
    <label class="control-label">Consent skippen? (Zustimmung liegt in anderer Form vor)</label>
    <label  style="width: 100%">
        <input type="checkbox" name="skipConsent" value="1" class="form-control" style="width:10%;display:inline-block;">
        Ja, skippen
    </label>
</div>