<div class="batch-header">
  <div class="batch-info">
    <div class="batch-title">
      <h5>{{this.batchName}} {{this.createdAt}}</h5>
      <span class="status-chip status-{{this.status}}">
        {{this.statusText}}
      </span>
    </div>
    <span>
      {{this.userStats}}
    </span>
  </div>
  <div class="actions">
    {{#if this.canStartDeletion}}
      <button class="btn btn-primary btn-thin execute-batch-btn" data-batch-id="{{this.id}}">
        Starten
      </button>
    {{/if}}
    <button
      class="show-batch-details-btn btn btn-secondary btn-thin"
      data-toggle="modal"
      data-target=".details-modal"
      data-title="{{this.batchName}}"
      data-batch-id="{{this.id}}"
    >
      Details
    </button>
    {{#if this.canDeleteBatch}}
      <button class="btn btn-secondary btn-thin delete-batch-btn" data-batch-id="{{this.id}}">
        Entfernen
      </button>
    {{/if}}
  </div>
</div>